<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-xs-4 col-xs-offset-4"> 
      <div id="name-hotness" class="col-xs-12 text-center">
        <h2>
          <%= @current_person.name %><br />
          <small><%= @current_person.hotness %>% hotness</small>
        </h2>
      </div>
      
      <img src="<%= @current_person.imageurl %>" class="img-responsive"><br />
      
      <div id="notbutton" class="col-xs-6" style="display:block; text-align:center;">
        <%= link_to notrating_path(@current_person), class: 'btn-lg btn-block btn-danger' do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </div>
      
      <div id="hotbutton" class="col-xs-6" style="display:block; text-align:center;">
        <%= link_to hotrating_path(@current_person), class: 'btn-lg btn-block btn-success' do %>
          <i class="glyphicon glyphicon-heart"></i>
        <% end %>
      </div>
      
    </div>
    
    <div id="yay-space" class="col-xs-12 text-center">
      <p></p>
      <p>This is a silly project made by <a href="http://jonlim.ca">Jon Lim</a>. Check out the <a href="https://github.com/JonLim/hot-or-not">GitHub repo</a> to read more about it.</p>
      <p></p>
    </div>

    <div id="stats-content" class="col-xs-6 col-xs-offset-3 hidden">

      <table class="table">
        <tr class="active">
          <td>Name</td>
          <td>Liked</td>
          <td>Rated</td>
        </tr>
  
        <% @people.each do |person| %>

        <tr>
          <td><%= person.name %></td>
          <td><%= person.times_liked %></td>
          <td><%= person.times_rated %></td>
        </tr>

        <% end %>

      </table>
    </div>
  </div>
</div>